
@media only screen and (max-width:1320px){
    .projects__details{
        width: 370px;
        height: 390px;
    }
    .projects__container{
        justify-content: center;
        justify-items: center;
        padding: 30px;
    }
}


@media only screen and (max-width:1290px){
.services__box{
    width: 330px;
}
.projects__container{
    justify-content: center;
    justify-items: center;
    padding: 30px;
}
.projects__details{
    width: 350px;
    height: 390px;
}
}

@media only screen and (max-width:1200px) {
    .projects__details{
        width: 310px;
        height: 370px;
    }
}

@media only screen and (max-width:1090px){
    .projects__container{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        justify-items: center;
    }
    .projects__details{
        width: 450px;
        height: 460px;
    }
    .services__box{
        width: 320px;
    }
}

@media only screen and (max-width:1040px){
    .img__container--img img {
        width: auto;
        height: 500px;
      }

      .about__img img {
        height: 500px;
        width: auto;
      }
      .img__container--fname, .img__container--lname {
        font-size: 52px;
        font-weight: 800;
    }
    .services__container{
        grid-template-columns: 360px 360px;
        padding: 30px;
        row-gap: 60px;
        justify-content: center;
    }
    .projects__details{
        width: 410px;
        height: 430px;
    }
}

@media only screen and (max-width:950px){
    .projects__details{
        width: 360px;
        height: 380px;
    }

    .contact__container{
       display: grid;
       grid-template-columns: 1fr;
    }
    .contact__img, .contact__form{
        width: 100%;
    }
    .copy__rights .copy__rights--text{
        font-size: 17px;
    }
}


@media only screen and (max-width:865px){
    .projects__details{
        width: 330px;
        height: 360px;
    }
}

@media only screen and (max-width:840px){
    .img__container--fname, .img__container--lname {
        font-size: 45px;
        font-weight: 800;
    }
    .about__details--title{
        font-size: 40px;
    }
    .about__details--text{
        font-size: 14px;
    }
    .img__container--position{
    font-size: 25px;
    }
    .copy__rights .copy__rights--text{
        font-size: 16px;
    }
    .icons i{
        font-size: 30px;
    }
}

@media only screen and (max-width:820px){
    .img__container{
        display: grid;
       grid-template-columns: 1fr;
       gap: 45px;
    }
    .img__container--text{
        text-align: center;
    }

    .img__container--img{
        text-align: center;
    }

    .img__container--img img{
        /* width: 100%;
        height: auto; */
        width: 700px;
        height: 800px;
        
    }

    .img__container--btn{
        justify-content: center;
    }

    .about{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        margin-top: -25px;
    }
    .about__img img{
        display: none;
    }


    .resume__box {
        max-width: 350px;
        padding: 30px;
        /* height: 400px; */
    }

    .box__degree{
        font-size: 22px;
    }
    .services{
        padding: 20px
    }
    .services__container{
        column-gap: 0;
        justify-items: center;
        grid-template-columns: 330px 330px;
    }
    .services__box{
        width: 280px;
    }

    .services__title{
        margin-bottom: 20px;
    }
}


@media only screen and (max-width:735px){
    .img__container--img img{
        width: 600px;
        height: 700px;
    }

    .box__degree{
        font-size: 19px;
    }
    .services__box{
        width: 250px;
    }
  
}

@media only screen and (max-width:710px){
    .resume {  
         justify-content: center;
    display: grid;
}
    .resume__box {
        max-width:500px;
        padding: 30px;
    }

    .resume__container{
        grid-template-columns: 1fr;
        /* height: auto; */
    }
    .box__degree{
        font-size: 26px;
    }

    .projects__container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .projects__details{
        width: 100%;
        height: 500px;
    }
   
}

@media only screen and (max-width:650px){
    .img__container--img img{
        width: 550px;
        height: 600px;
    }
    .services__container{
        column-gap: 0;
        justify-items: center;
        grid-template-columns: 1fr;
    }
    .services__box{
        width: 100%;
    }
    .copy__rights .copy__rights--text{
        font-size: 15px;
    }
    .icons i{
        font-size: 28px;
    }
    .myskills__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
}

@media only screen and (max-width:550px){
    .img__container--img img{
        width: 100%;
        height: auto;
    }

    .contact__container{
        justify-content: center;
        justify-items: center;
    }
   
.projects__details {
    width: 100%;
    height: 400px;
}
}



@media only screen and (max-width:440px){

.copy__rights .copy__rights--text{
    font-size: 12px;
}
}

@media only screen and (max-width:420px){
    .contact__container {
        display: grid;
        grid-template-columns: 360px;
        justify-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width:400px) {
    .services__box{
        width: 290px;
    }
    .resume__experience{
        height: 430px;
    }
    .projects__details {
        width: 100%;
        height: 380px;
    }
    .box__degree {
        font-size: 20px;
    }
}



@media only screen and (max-width:370px) {
    .resume__experience{
        height: 430px;
    }
    .contact__container {
        display: grid;
        grid-template-columns: 290px;
        justify-items: center;
        justify-content: center;
    }
    .icons__container{
        flex-direction: column;
        padding: 10px;
    }
    .personal__text p {
        font-size: 14px;
    }
}


@media only screen and (max-width:340px) {
    .resume__experience{
        height: 470px;
    }
    .personal__text p {
        font-size: 12px;
    }
    
}